@page
@model ProgrammingClass6.Mvc.Views.Home.aboutModel
@{
}

<html>
<head>
    <title>Italian restaurant</title>
    <style>
        div {
            border: 2px solid #964407;
            background-color: rgba(0, 0, 0);
            display: flex;
            gap: 50px;
            justify-content: center
        }

        body {
            background-image: url(restaurant-interior.jpg);
            background-size: cover;
            background-position: center;
        }

        h1 {
            color: burlywood;
        }

        .text {
            padding: 5px;
            color: blanchedalmond
        }
    </style>
</head>
<body>
    <div>
        <a href="./index.cshtml"><h1>Main page</h1></a>
        <a href="./menu.cshtml"><h1>Menu</h1></a>
        <h1>About us</h1>
    </div>
    <div class="text" style="
    margin: 21 0 21 0;
">
        <h1 style="
    padding: 0 17 0 17;
">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce euismod maximus felis id elementum. Etiam ut tempor libero. Maecenas tempus euismod sapien, vitae elementum felis commodo ac. Integer venenatis massa vel velit hendrerit, vitae vestibulum nulla lacinia. Morbi accumsan, massa vel dictum suscipit, erat quam lobortis quam, a euismod lacus augue sed nisl. Nullam viverra nec elit ac ornare. Donec pretium risus diam, vel mattis urna tempor in. Morbi venenatis libero vitae mauris maximus faucibus.<br><br>

            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent posuere libero dolor, id efficitur libero posuere ut. Nullam vitae erat ut erat sollicitudin finibus quis eget purus. Nam pellentesque turpis viverra, iaculis enim ac, hendrerit nisl. Suspendisse porta vitae erat ut luctus. Nulla eu sollicitudin neque. Nulla ultrices urna eu elit auctor efficitur. Donec et fringilla velit. Aliquam ac tellus sagittis, rhoncus nunc eget, porttitor eros. Integer massa massa, mattis ut orci nec, interdum finibus sem. Nullam porta placerat augue eget consectetur. Aliquam non risus tellus. Curabitur cursus lacus quam, eget aliquet lacus bibendum non. Pellentesque mauris massa, ullamcorper vel lobortis ut, tincidunt at eros. Phasellus vulputate est tincidunt, luctus sem id, dignissim orci.<br>
        </h1>
    </div>



</body>
</html>

