<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gericht - About Us</title>
  <link rel="stylesheet" href="./css/styles.css">
  <link rel="stylesheet" href="./css/about.css">
</head>
<body>
  <header class="app__header">
    <div class="app__logo">
      GERICHT
    </div>
    <nav>
      <ul class="app__navbar-links">
        <li><a href="home.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="menu.html">Menu</a></li>
        <li><a href="#">Awards</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
    <div class="app__navbar-login">
      <a href="#">Log In / Registration</a>
      <div></div>
      <a href="#">Book Table</a>
    </div>
  </header>

  <section class="app__aboutus section-padding">
    <div class="app__aboutus-content_about">
      <h1 class="headtext__cormorant">About Us</h1>
      <img src="https://raw.githubusercontent.com/adrianhajdin/project_modern_ui_ux_restaurant/main/src/assets/spoon.svg" alt="spoon">
      <p class="p__opensans">Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Quis Pharetra Adipiscing Ultrices Vulputate Posuere Tristique. In Sed Odio Nec Aliquet Eu Proin Mauris Et.</p>
      <button type="button" class="custom__button">Know More</button>
    </div>

    <div class="app__aboutus-content_knife">
      <img src="https://raw.githubusercontent.com/adrianhajdin/project_modern_ui_ux_restaurant/main/src/assets/knife.png" alt="knife">
    </div>

    <div class="app__aboutus-content_history">
      <h1 class="headtext__cormorant">Our History</h1>
      <img src="https://raw.githubusercontent.com/adrianhajdin/project_modern_ui_ux_restaurant/main/src/assets/spoon.svg" alt="spoon">
      <p class="p__opensans">Adipiscing Tempus Ullamcorper Lobortis Odio Tellus Arcus Vulputat. Risus Placerat Morbi Volutpat Habitasse Interdum Mi Aliquam In Sed Odio Nec Aliquet.</p>
      <button type="button" class="custom__button">Know More</button>
    </div>
  </section>

  <footer class="app__footer">
  </footer>
</body>
</html>