@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>
    <link rel="stylesheet" href="~/css/about.css" />

</head>
<body>
    <h1>
        Lahmajo House
        <img src="/image/lahmajo.jpg" width="200px">
    <h2>
        About Us
    </h2>
    <div class="coral-color">
        Lahmajo House is more than just a standard lahmajo — it’s an experience.
    </div>

    <h2 class="similar-text">
        Menu
    </h2>
    <ol class="menu">
        <li>
            Lahmajo - 500 AMD
        </li>
        <li>
            Cheese Lahmajo - 400 AMD
        </li>
        <li>
            Super Mix Lahmajo - 800 AMD
        </li>
    </ol>

    <h2 class="section-title">
        Contact Info
    </h2>
    <div class="contact-info">
        We are in Artemi Ayvazyan 4, Yerevan 0005 Armenia
    </div>
    <div class="contact-info">
        Call us +374 10 000000
    </div>

</body>


