@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<body>
    <h1>
        Welcome to Restaurant Alexander
    </h1>
    <img src="./images/restaurant.jpg" alt="The restaurant is pictured from the front" />
    <h2>
        Alcoholic drinks
    </h2>
    <img src="./images/chongqing.jpg" />
    <ol>
        <li>
            Roll with pork and carrots 18$.
        </li>
        <li>
            Chichen heart with milk sauce 15$.
        </li>
        <li>
            Chichen with soy marinade 17$.
        </li>
    </ol>
</body>
