<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gericht - Contact</title>
  <link rel="stylesheet" href="./css/styles.css">
  <link rel="stylesheet" href="./css/contact.css">
</head>
<body>
  <header class="app__header">
  </header>

  <section class="app__findus section-padding">
    <div class="app__findus-content">
      <p class="p__cormorant" style="color: var(--color-golden);">Contact</p>
      <img src="https://raw.githubusercontent.com/adrianhajdin/project_modern_ui_ux_restaurant/main/src/assets/spoon.svg" alt="spoon">
      <h1 class="headtext__cormorant">Find Us</h1>
      <p class="p__opensans">Lane Ends Bungalow, Whatcroft Hall Lane, Rudheath, CW9 7SG</p>
      <p class="p__cormorant" style="color: var(--color-golden); margin: 2rem 0;">Opening Hours</p>
      <p class="p__opensans">Mon - Fri: 10:00 Am - 02:00 Am</p>
      <p class="p__opensans">Sat - Sun: 10:00 Am - 03:00 Am</p>
      <button type="button" class="custom__button" style="margin-top: 2rem;">Visit Us</button>
    </div>
    <div class="app__findus-image">
      <img src="https://raw.githubusercontent.com/adrianhajdin/project_modern_ui_ux_restaurant/main/src/assets/findus.png" alt="findus">
    </div>
  </section>

  <footer class="app__footer">
  </footer>
</body>
</html>