@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<body class="color-backround">
   
    <header>
        <link rel="stylesheet" href="./css/style.css" />
    </header>
    <div>

        <h2 class="drink-red">
            ALCOHOL DRINKS
        </h2>

        <div class="backround"
             style="background: url('../Home/beer.jpg'); padding: 50px; height: 120px; margin: 10px;">
            <style>
                h3 {
                    color: #9b0000;
                    background-color: #e3c5c5;
                    display: inline;
                    border-radius: 7px;
                }
            </style>
            <h3>
                BEER
            </h3>
            <style>
                li {
                    color: white;
                    font-weight: bold;
                }
            </style>
            <ul>
                <li>
                    Tiger--------9
                </li>
                <li>
                    Henriken---12
                </li>
                <li>
                    Guinness---15
                </li>
            </ul>

        </div>

        <div class="backround" style=" background: url('/wwwroot/images/beer.jpg'); padding: 50px; height: 120px; margin: 10px;">
            <h3>
                CHAMPAGNE
            </h3>

            <ul>
                <li>
                    Lanson Rose Label Champagen-------490
                </li>
                <li>
                    Moet & Chandon Brut Imperal--------480
                </li>
                <li>
                    Vueve Clicquot Yellow label-----------530
                </li>
            </ul>
        </div>

        <div class="backround" style=" background: url('/wwwroot/images/LICUEURS.jpg'); padding: 50px; height: 120px; margin: 10px;">
            <h3>
                LICUEURS
            </h3>
            <ul>
                <li>
                    Baileys---------25
                </li>
                <li>
                    Midori----------25
                </li>
                <li>
                    Champari-------25
                </li>
            </ul>
        </div>

        <div class="backround" style=" background: url('/wwwroot/images/BOURBON.jpg'); padding: 50px; height: 120px; margin: 10px;">
            <h3>
                BOURBON
            </h3>
            <ul>
                <li>
                    Jack Daniel---------430
                </li>
                <li>
                    Makers Mark-------450
                </li>
            </ul>
        </div>
    </div>
</body>
</html>