@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<body style=" background: url('/images/LICUEURS.jpg'); padding: 6px; height: 160px; margin: 10px;">
        
    <header>
        <link rel="stylesheet" href="./css/style.css" />
    </header>
    <div>

        <h2 class="drink-red">
            ALCOHOL DRINKS
        </h2>

        <div>
         
            <h3 class="drink-text">
                BEER
            </h3>
         
            <ul class="drink-text-h3">
                <li>
                    Tiger--------9
                </li>
                <li>
                    Henriken---12
                </li>
                <li>
                    Guinness---15
                </li>
            </ul>

        </div>

        <div>
            <h3 class="drink-text">
                CHAMPAGNE
            </h3>

            <ul class="drink-text-h3">
                <li>
                    Lanson Rose Label Champagen-------490
                </li>
                <li>
                    Moet & Chandon Brut Imperal--------480
                </li>
                <li>
                    Vueve Clicquot Yellow label-----------530
                </li>
            </ul>
        </div>

        <div>
            <h3 class="drink-text">
                LICUEURS
            </h3>
            <ul class="drink-text-h3">
                <li>
                    Baileys---------25
                </li>
                <li>
                    Midori----------25
                </li>
                <li>
                    Champari-------25
                </li>
            </ul>
        </div>

        <div>
            <h3 class="drink-text">
                BOURBON
            </h3>
            <ul class="drink-text-h3">
                <li>
                    Jack Daniel---------430
                </li>
                <li>
                    Makers Mark-------450
                </li>
            </ul>
        </div>
    </div>
</body>
</html>