@{
    ViewData["Title"] = "Home";
}

<center>
    <div class="Main">
        <h1>Welcome to Bitewell</h1>
        <a href="/Home/Menu">
            <button>Menu</button>
        </a>
    </div>
</center>
