@{
    ViewData["Title"] = "Menu";
}

<center>
    <h1 class="Menu">Menu</h1>
</center>

<h3>1. Fast Food</h3>
<ol>
    <li>Burger - $5.50</li>
    <li>Cheeseburger - $6.00</li>
    <li>French Fries - $2.50</li>
    <li>Chicken Nuggets - $4.00</li>
</ol>

<h3>2. BBQ</h3>
<ol>
    <li>Grilled Chicken - $8.50</li>
    <li>BBQ Ribs - $12.00</li>
    <li>Smoked Sausages - $7.00</li>
    <li>BBQ Beef - $13.50</li>
</ol>

<h3>3. Drinks</h3>
<ol>
    <li>Cola - $1.50</li>
    <li>Lemonade - $2.00</li>
    <li>Orange Juice - $2.50</li>
    <li>Mineral Water - $1.00</li>
</ol>

<h3>4. Desserts</h3>
<ol>
    <li>Chocolate Cake - $3.50</li>
    <li>Ice Cream (2 scoops) - $2.50</li>
    <li>Cheesecake - $4.00</li>
    <li>Apple Pie - $3.00</li>
</ol>