@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Menu - Claud Monet</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <h1>Claud Monet Menu</h1>

    <h2>Starters</h2>
    <ul>
        <li><img src="~/images/salad.jpg" alt="Salad" width="100"> Fresh Salad</li>
        <li><img src="~/images/soup.jpg" alt="Soup" width="100"> Hot Soup</li>
        <li><img src="~/images/bruschetta.jpg" alt="Bruschetta" width="100"> Bruschetta</li>
    </ul>

    <h2>Main Courses</h2>
    <ul>
        <li><img src="~/images/chicken.jpg" alt="Chicken" width="100"> Grilled Chicken</li>
        <li><img src="~/images/steak.jpg" alt="Steak" width="100"> Beef Steak</li>
        <li><img src="~/images/pasta.jpg" alt="Pasta" width="100"> Italian Pasta</li>
        <li><img src="~/images/pizza.jpg" alt="Pizza" width="100"> Pepperoni Pizza</li>
    </ul>

    <h2>Desserts</h2>
    <ul>
        <li><img src="~/images/cake.jpg" alt="Cake" width="100"> Chocolate Cake</li>
        <li><img src="~/images/icecream.jpg" alt="Ice Cream" width="100"> Ice Cream</li>
        <li><img src="~/images/cheesecake.jpg" alt="Cheesecake" width="100"> Cheesecake</li>
    </ul>

    <h2>Drinks</h2>
    <ul>
        <li><img src="~/images/water.jpg" alt="Water" width="100"> Mineral Water</li>
        <li><img src="~/images/tea.jpg" alt="Tea" width="100"> Green Tea</li>
        <li><img src="~/images/coffee.jpg" alt="Coffee" width="100"> Coffee</li>
        <li><img src="~/images/cola.jpg" alt="Cola" width="100"> Coca-Cola</li>
    </ul>
</body>
</html>