<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gericht - Menu</title>
  <link rel="stylesheet" href="./css/styles.css">
  <link rel="stylesheet" href="./css/menu.css">
</head>
<body>
  <header class="app__header">
  </header>

  <section class="app__specialMenu section-padding">
    <div class="section__title">
      <p class="p__cormorant">Menu That Fits Your Palatte</p>
      <img src="https://raw.githubusercontent.com/adrianhajdin/project_modern_ui_ux_restaurant/main/src/assets/spoon.svg" alt="spoon">
      <h2 class="headtext__cormorant">Today’s Special</h2>
    </div>
    <div class="app__specialMenu-menu">
      <div class="app__specialMenu-menu_wine">
        <p class="app__specialMenu-menu_heading">Wine & Beer</p>
        <div class="app__menuitem">
          <div class="app__menuitem-head">
            <div class="app__menuitem-name">
              <p>Chapel Hill Shiraz</p>
            </div>
            <div class="app__menuitem-dash"></div>
            <div class="app__menuitem-price">
              <p>$56</p>
            </div>
          </div>
          <div class="app__menuitem-sub">
            <p>AU | Bottle</p>
          </div>
        </div>
      </div>

      <div class="app__specialMenu-menu_img">
        <img src="https://raw.githubusercontent.com/adrianhajdin/project_modern_ui_ux_restaurant/main/src/assets/menu.png" alt="menu img">
      </div>

      <div class="app__specialMenu-menu_cocktails">
        <p class="app__specialMenu-menu_heading">Cocktails</p>
        <div class="app__menuitem">
          <div class="app__menuitem-head">
            <div class="app__menuitem-name">
              <p>Aperol Spritz</p>
            </div>
            <div class="app__menuitem-dash"></div>
            <div class="app__menuitem-price">
              <p>$20</p>
            </div>
          </div>
          <div class="app__menuitem-sub">
            <p>Aperol | Villa Marchesi Prosecco | Soda | 30ml</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="app__footer">
  </footer>
</body>
</html>