@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<html>
<head>
    <title>
        New Restaurant
    </title>

    <link rel="stylesheet" href="./css/style.css" />
</head>
<body class="green-fon">
    <div>
        <h1 class="green-text">
            WELCOME  URENI  RESTAURANT
        </h1>
        <p class="padding">

            <img src="~/images/Restoran.jpg" alt="Restaurant Menu" />
        </p>

    </div>

    <div>

        <h2 class="darkorange-text">
            OUR MENU
        </h2>
    </div>
    <nav>

        <ol class="navigation">
            <li>

                <a href="./Drink.cshtml" target="_blank">
                    <p class="blue-text">
                        Alcohal Drinks
                    </p>
                </a>
            </li>

            <li>
                <a href="seafood.html" target="_blank">
                    <p class="blue-text">
                        Seafood
                    </p>
                </a>
            </li>

            <li>
                <a href="food-vegetables.html" target="_blank">
                    <p class="blue-text">
                        Vegetables
                    </p>
                </a>
            </li>

        </ol>
    </nav>

</body>
</html>