@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>
	<link rel="stylesheet" href="./css/style.css" />
</head>
<body class="color-backround">
	
	<div>
		<h1 class="seafood-orenge">
			S E A F O O D
		</h1>
		<img src="~/images/seafood.jpg" alt="seafood" />
		
		<h3 class="seafood-text">
			FISH
		</h3>
		
		<ul class="food-text-h3">
			<li>
				Salmon-------20
			</li>
			<li>
				Tuna----------25
			</li>
			<li>
				Trout---------18
			</li>
		</ul>
	</div>
	<div>
		<h3 class="seafood-text">
			SHELLFISH
		</h3>
		<ul class="food-text-h3">
			<li>
				Shrimp-------15
			</li>
			<li>
				Crab----------22
			</li>
			<li>
				Lobster-------30
			</li>
		</ul>
	</div>
</body>
</html>
