html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
h1 {
    color: red;
    text-align: center;
    padding: 10px;
    margin: 30px;
}

.darkorange-text {
    color: darkorange;
    padding: 22px;
}

.blue-text {
    color: blue;
    background-color: #41f1f1;
    border-radius: 15px;
    font-size: 18px;
    display: inline;
}

.green-text {
    background-color: greenyellow;
    border-radius: 15px;
}

.green-fon {
    background-color: #e2f7cc;
}

.navigation {
    color: #df2e76;
}

    }

.padding {
    padding-left: 366px;
}

.seafood-orenge {
    color: #fba500;
    background-color: #6388eb;
    border-radius: 27px;
    font-size: 23px;
    display: inline;
}

.vegetables-green {
    color: #cee70d;
    background-color: #1dc506;
    border-radius: 12px;
    font-size: 23px;
    display: inline;
    padding: 5px;
}

.drink-red {
    color: #f9f9f9;
    background-color: #910707;
    border-radius: 12px;
    font-size: 30px;
    display: inline;
}
.color-backround {
    background-color: blanchedalmond;
}




