@model List<UnitOfMeasure>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<a class="btn btn-primary mb-3" asp-controller="UnitOfMeasures" asp-action="Create">
    Add New
</a>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Unit
                </th>      
                <th>
                    Actions
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (UnitOfMeasure unitOfMeasure in Model)
            {
                <tr>
                    <td>
                        @unitOfMeasure.Id
                    </td>
                    <td>
                        @unitOfMeasure.Unit
                    </td>
                    <td>
                        <a class="btn btn-secondary" asp-controller="UnitOfMeasures" asp-action="Edit"
                           asp-route-id="@unitOfMeasure.Id">
                            Edit
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
