<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @RenderSection("styles", required: false)
    <title>@ViewData["Title"]</title>
</head>
<body>
    <header class="site-header">
        <h1 class="site-title"><a href="/Home">Bitewell</a></h1>
        <nav>
            <ul class="nav-menu">
                <li><a href="/Home/Menu">Menu</a></li>
                <li><a href="/Home/About">About Us</a></li>
                <li><a href="/Home/Contact">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    @RenderBody()
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
