@using ProgrammingClass6.Mvc.Models
@model ProductType
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1 class="h3">
    Create Product Type
</h1>
<form asp-controller="ProductTypes" asp-action="Create">
    <div class="mb-3">
        <label asp-for="Name"> 
       Name
       </label>
       <input asp-for="Name" class="form-control"/>
       <span asp-validation-for="Name" class="text-danger">
       </span>
    </div>
    <div class="mb-3">
        <label asp-for="Description">
            Description
        </label>
        <textarea asp-for="Description" class="form-control">

        </textarea>
    </div>
    <div class="mb-3">
        <label asp-for="UnitPrice" class="form-label">
            Unit Price
        </label>
        <input asp-for="UnitPrice" class="form-control"/>
    </div>
    <div class="mb-3">
        <label asp-for="Quantity" class="form-label">
            Quantity
        </label>
        <input asp-for="Quantity" class="form-control"/>
    </div>

    <div class="mb-3">
        <label asp-for="UnitOfMeasureId" class="form-label">
            Unit Of Measure(Diametere CM)
        </label>
        <select asp-for="UnitOfMeasureId" class="form-control">
            <option></option>
            @foreach (UnitOfMeasure unitOfMEasure in ViewBag.UnitOfMeasures)
            {
                <option value="@unitOfMEasure.Id"> 
                    @unitOfMEasure.Diametere
                </option>
            }
        </select> 
    </div>

    <div>
        <a class="btn btn-secondary" asp-controller="ProductTypes" asp-action="Index">
            Cancel
        </a>

        <button class=" btn btn-primary" type="submit">
            Save
        </button>
    </div>
</form>
