@model ProductType

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1 class="h3">
    Create ProductType 
 </h1>
<form asp-controller ="ProductTypes" asp-action="Create">
     <div class="mb-3">
        <label asp-for="Name" class="form-label">Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
     </div>
     <div class="mb-3">
         <label asp-for="Brand" class="form-label">Brand</label>
        <textarea asp-for="Brand" class="form-control"></textarea>
        <span asp-validation-for="Brand" class="text-danger"></span>
     </div>
     <div class="mb-3">
         <label asp-for="Type" class="form-label">Type</label>
        <input asp-for="Type" class="form-control" />
        <span asp-validation-for="Type" class="text-danger"></span>
     </div>
     <div>
         <label asp-for="Price" class="form-label">Price</label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
     </div>
     <div class="mb-3">
         <label asp-for="Quantity" class="form-label">Quantity</label>
        <input asp-for="Quantity" class="form-control" />
        <span asp-validation-for="Quantity" class="text-danger"></span>
     </div>
     <div class="mb-3">
         <label asp-for="ManufacturerId" class="form-label">
            Manufacturer
         </label>
         <select asp-for="ManufacturerId" class="form-control">
             <option>
                -- Select Manufacturer --
             </option>
             @foreach (var manufacturer in ViewBag.Manufacturers)
             {
                 <option value="@manufacturer.Id">
                     @manufacturer.Name
                 </option>
            }
        </select>
     </div>

    <div>
        <a class="btn btn-secondary" asp-controller="ProductTypes" asp-action="Index">
            Cancel
        </a>
        <button class="btn btn-primary" type="submit">
            Save
        </button>
    </div>
 </form> 