@model ProductTypeSize

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div>
    <form asp-controller="ProductTypeSizes" asp-action="Create" method="post">
        <div class="mb-3">
            <label asp-for="ProductTypeId" class="form-label">
                Product Type
            </label>
            <input asp-for="ProductTypeId" class="form-control" readonly />
        </div>
        <div class="mb-3">
            <label asp-for="SizeId" class="form-label">
                Size
            </label>
            <select asp-for="SizeId" class="form-control">
                <option value="">
                    -- Select Size --
                </option>

                @foreach (var size in (List<Size>)ViewBag.Sizes)
            {
                <option value="@size.Id">@size.Name</option>
            }
            </select>
        </div>
        <div>
            <a class="btn btn-secondary"
            asp-controller="ProductTypeSizes"
            asp-action="Index"
            asp-route-ProductTypeId="@Model.ProductTypeId">
                Cancel
            </a>
            <button type="submit" class="btn btn-primary">
                Save
            </button>
        </div>
    </form>
</div>